.login {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login button {
  width: 250px;
  height: auto;

  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;

  padding: 10px 15px;
  border-radius: 25px;
  position: relative;
  background-color: rgb(58, 89, 152);
  color: white;
  cursor: pointer;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
